.f_section{
    padding-top: 217px;
    background-image: url(../imgs/f_section_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f_section_header{
    color: #1B75BB;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 0.1em;
    margin:0 0 15px;
}
.f_section_title{
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    max-width: 456px;
    font-family: Gelasio;
    margin:0 0 25px;
}
.word_home{
    color: #1B75BB
}
.f_section_text{
    max-width: 347px;
    opacity: 0.6;
    margin:0 0 30px;
}
.f_section_btn{
    padding: 15px 30px;
    background: #1B75BB;
    border-radius: 5px; 
    color: #FFFFFF;
    margin-bottom: 0;
}

.f_section_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 690px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    position:relative;
    bottom:-64px;
    left:-30px;
    padding:0 20px;
}

.f_section_col{
    flex:1 0 25%;
    padding:0 30px;
    min-width: 162.51px;
}
.f_section_item{
    padding:25px 0;
    
}
.fs_row_btn{
    padding: 15px 30px;
    background-color: #1B75BB;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    align-self: center;
}

.fs_item_title{
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 10px;
}

.fs_item_text{
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
    opacity: 0.6;
}
.item_btn{
    text-align: center;
}
.col_btn{
    padding: 0 15px;
}

@media screen  and (max-width: 1215px){
    .f_section_row{
        margin: 0 15px;
    }
}
@media screen  and (max-width: 767px){
    .f_section{
        background-position:right;
    }
    .f_section_row{
        margin: 40px auto 0;
        left:0;
        max-width: 500px;
        position:static;
        backdrop-filter: blur(15px);
    }
    .f_section_col{
        min-width: 230px;
    }
    .f_section_item{
        text-align: center;
    }
    .f_section_btn{
        margin:0 auto;
        display: block;
    }
    .f_section_title{
        text-align: center;
        margin:0 auto 25px;
    }
    .f_section_text{
        text-align: center;
        margin:0 auto 25px;
    }
    .f_section_header{
            text-align: center;
            margin:0 auto 25px;
    }
}
@media screen  and (max-width: 575px){
    .f_section{
        padding-top: 550px;
        background-position:center;
    }
    .f_section_title{
        margin-bottom: 5px;
    }
    .f_section_header{
        margin-bottom: 5px;
    }
    .f_section_row{
        max-width: 300px;
    }
}

// .f_section_table{
//     background: rgba(255, 255, 255, 0.21);
//     backdrop-filter: blur(70px);
//     border-radius: 10px;
//     padding:24px 49px;
//     max-width: 690px;
// }
// .f_section_row{
//     display:flex;
//     flex-wrap: wrap;
//     max-width: 590px;
//     align-items: center;
//     margin:0 -30px;
// }

// .f_section_col{
//     flex:1 0 25%;
//     padding: 0 30px;
    
// }
// .f_section_item{
//     max-width: 100px;
//     margin:0;
// }

// .fs_item_title{
//     font-style: italic;
//     font-weight: bold;
//     font-size: 16px;
//     line-height: 160%;
// }

// .fs_item_text{
//     font-size: 16px;
//     line-height: 160%;
//     color: #081F32;
// }
// p{
//     margin:0;
// }
// .f_section_item p{
//     margin-bottom: 10px;
// }
// .fs_row_btn{
//         padding: 15px 30px;
//         background-color: #1B75BB;
//         font-size: 16px;
//         border-radius: 5px;
//         color: #FFFFFF;
//         font-weight: 500;
// }