.f_section{
    padding-top: 217px;
    background-image: url(../../../../dist/assets/imgs/f_section_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.f_section_header{
    color: #1B75BB;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 0.1em;
    margin:0 0 15px;
}
.f_section_title{
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    max-width: 456px;
    font-family: Gelasio;
    margin:0 0 25px;
}
.word_home{
    color: #1B75BB
}
.f_section_text{
    max-width: 347px;
    opacity: 0.6;
    margin:0 0 30px;
}
.f_section_btn{
    padding: 15px 30px;
    background: #1B75BB;
    border-radius: 5px; 
    color: #FFFFFF;
    margin-bottom: 0;
}

.f_section_row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 690px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    position:relative;
    bottom:-64px;
    left:-30px;
   padding:0 20px;
}

.f_section_col{
    flex:1 0 25%;
    padding:0 30px;
}
.f_section_item{
    padding:25px 0;
}
.fs_row_btn{
    padding: 10px 17px;
    background-color: #1B75BB;
    font-size: 14px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    align-self: center;
}

.fs_item_title{
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 10px;
}

.fs_item_text{
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
}
// .f_section_table{
//     background: rgba(255, 255, 255, 0.21);
//     backdrop-filter: blur(70px);
//     border-radius: 10px;
//     padding:24px 49px;
//     max-width: 690px;
// }
// .f_section_row{
//     display:flex;
//     flex-wrap: wrap;
//     max-width: 590px;
//     align-items: center;
//     margin:0 -30px;
// }

// .f_section_col{
//     flex:1 0 25%;
//     padding: 0 30px;
    
// }
// .f_section_item{
//     max-width: 100px;
//     margin:0;
// }

// .fs_item_title{
//     font-style: italic;
//     font-weight: bold;
//     font-size: 16px;
//     line-height: 160%;
// }

// .fs_item_text{
//     font-size: 16px;
//     line-height: 160%;
//     color: #081F32;
// }
// p{
//     margin:0;
// }
// .f_section_item p{
//     margin-bottom: 10px;
// }
// .fs_row_btn{
//         padding: 15px 30px;
//         background-color: #1B75BB;
//         font-size: 16px;
//         border-radius: 5px;
//         color: #FFFFFF;
//         font-weight: 500;
// }