// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";
* {
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;  
    color:#081F32;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin:0 auto;
}
.header{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header_row{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Gelasio;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.nav_list{
    display:flex;
    list-style: none;
    padding-inline-start: 0px;
}
.nav_list a{
    text-decoration: none;
    margin-right:40px;
}
.nav_list a:visited{
    color:inherit;
}

.home{color:#1B75BB !important;}

.header_btn{
    padding: 15px 30px;
    background: #1B75BB;
    border-radius: 5px;
    cursor:pointer;
    color:#FFFFFF;
    font-family: Gelasio;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}


// /* 1024 - 1229 */ 
// @media screen and (max-width: 1229px) {

// } 
// /* 795 - 1023 */ 
// @media screen  and (max-width: 1023px) { 

// } 
/* 576 - 815 */ 
@media screen  and (max-width: 814px) {
    .nav{
    position: absolute;
    margin:0 auto;
    right:0;
    left:0;
    top:120px;
}
    .nav_list{
        justify-content: space-evenly;
    }
    .header_row{
        justify-content: space-evenly;
    }
}
/* 320-575*/ 
@media screen  and (max-width: 575px){
    .header_row{
        flex-direction: column;
    }
    .nav{
        position:static;
        margin:0 auto;
        right:0;
        left:0;
        top:120px;}
    .nav_list{
        flex-direction: column;
        align-items: center;
    }
    .nav_list a{
        text-decoration: none;
        font-size:40px;
        margin: 0;
        
}
    .nav_list li{
        margin-bottom: 30px;
    }
}