.s_section{
    padding-top: 244px;
    background-color: #f3f3f3;
}
.ss_row{
    display:flex;
    margin:0 auto;
    position: relative;
    left:-30px;
    max-width: 1242px;
    padding:0 15px;
    margin:0 auto;
    // flex-wrap:wrap;
    // justify-content: space-between;
}
.ss_imgs{
    position:relative;
    max-width: 747px;
}
.ss_first_img{
    position: relative;
    z-index: 2;
}
.ss_second_img{
    position: absolute;
    top:-40px;
    right: -70px;
}
.ss_third_img{
    position: absolute;
    left:-47px;
    bottom:-78px;
}
.ss_content{

}
.ss_content_title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #1B75BB;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}
.ss_content_text{
    font-family: Gelasio;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    max-width: 430px;
    margin-bottom: 31px;
}
.ss_content{
    padding-left: 105px;
}
.ss_content_btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background-color: #1B75BB;
    color: #FFFFFF;
    padding:15px 30px;
    border-radius: 5px;
}

@media screen  and (max-width: 1490px){

    .ss_row{
        position:static;
        // flex-direction: column-reverse;
    }
    // .s_section{
    //     padding-top: 160px;
    // }
    // .ss_first_img{
    //     padding-top: 50px;
    // }
}
@media screen  and (max-width: 1015px){
    .ss_row{
        flex-direction: column-reverse;
    }
    .s_section{
        padding-top: 130px;
    }
    .ss_first_img{
        padding: 50px 40px 0;
    }
    .ss_second_img{
        right:-20px;
        padding-right: 20px;
    }
    .ss_third_img{
        left: -20px;
        bottom:-30px;
        padding-left: 30px;
    }
}
@media screen  and (max-width: 790px){
    .s_section{
        padding-top: 100px;
    }
    .ss_second_img{
        display:none;
}
    .ss_first_img{
        max-width: 300px;
    }
    .ss_third_img{
        display:none;
}
    .ss_first_img{
        max-width: 600px;
        max-height: 320px;
        z-index: 1;
        padding: 0;
    }
    .ss_imgs{
        padding-top: 24px;
        margin: 0 auto;
    }
    .ss_content{
        padding-left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .ss_first_img img{
        max-width: 500px;
    }
    .ss_content_title{font-size: 18px;}
    .ss_content_text{font-size: 28px;}
}
@media screen  and (max-width: 575px){
    .ss_first_img img{
        max-width: 375px;
    }
    .s_section{
        padding-top: 70px;
    }
    .ss_content_title{font-size: 16px;}
    .ss_content_text{font-size: 24px;}
}
@media screen  and (max-width: 425px){
    .ss_first_img img{
        max-width: 270px;
    }
    .s_section{
        padding-top: 40px;
    }
    .ss_content_title{font-size: 16px;}
    .ss_content_text{font-size: 24px;}
    
}