section.business
        .container
            h1.business_title EMPOWER YOUR BUSINESS
            p.business_text We know how large objects will act, 
            |but things on a small scale.
            button.business_get Get Quote Now
            button.business_more Learn More
            .business_items
                //- mixin item(title, text, img)
                //-     .business-col
                //-         .item
                //-             img(src=img, alt="img")
                //-             .item-title=title 
                //-             .item-text=text 
                //- +item("Digital Marketing", "We focus on ergonomics and meeting you where you work.", "./assets/imgs/logo.svg")
                //- +item("Lalala", "BABABA")
                //- +item("3")
                mixin item2(args={})
                    .business-col
                        .item
                            img(src=args.img, alt="img")
                            .item-title=args.title 
                            .item-text=args.text
                +item({
                    title: "",
                    text: "",
                    img: ""
                })

                