section.f_section
        .container
            h2.f_section_header Serenity
            h1.f_section_title Stay with us feel like 
                span.word_home home
            p.f_section_text Pet-friendly hotels are becoming increasingly popular; appealing to travellers who can’t bear to be parted.
            button.f_section_btn Read More
            .f_section_row
                mixin f_section_item(title, date)
                    .f_section_col
                        .f_section_item
                            p.fs_item_title=title
                            p.fs_item_text=date
                +f_section_item("Check in", "10 Feb 2021")
                +f_section_item("Check out", "13 Feb 2021")
                +f_section_item("Person", "2 Adults 1 kid")
                button.fs_row_btn Find room
            
//- mixin item(title, text, img)
                //-     .business-col
                //-         .item
                //-             img(src=img, alt="img")
                //-             .item-title=title 
                //-             .item-text=text 
                //- +item("Digital Marketing", "We focus on ergonomics and meeting you where you work.", "./assets/imgs/logo.svg")
                //- +item("Lalala", "BABABA")
                //- +item("3")
                //- ВТОРОЙ ВАРИАНТ С АЙТЕМС
                //- mixin item2(args={})
                //-     .business-col
                //-         .item
                //-             img(src=args.img, alt="img")
                //-             .item-title=args.title 
                //-             .item-text=args.text
                //- +item({
                //-     title: "",
                //-     text: "",
                //-     img: ""
                //- })

                