header.header 
        .container 
            .header_row
                a.logo(href="#")
                    img.logo_img(src="./assets/imgs/logo.png" alt="Rayal Park")
                nav.nav
                    ul.nav_list
                        li
                            a.home(href="#") Home
                        li
                            a(href="#") Features
                        li
                            a(href="#") Gallary
                        li
                            a(href="#") Testimonials
                button.header_btn Book now