section.s_section
    .ss_row
        .ss_imgs
            .ss_first_img
                img(src="/dist/assets/imgs/ss_first_img.jpg" alt)   
            .ss_second_img
                img(src="/dist/assets/imgs/ss_second_img.png" alt)
            .ss_third_img
                img(src="/dist/assets/imgs/ss_third_img.png" alt)
        .ss_content
            .ss_content_title Dream Holidays
            .ss_content_text Enjoy unforgettable experiences in dream hotels.
            button.ss_content_btn View more